@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Press Start 2P", sans-serif;
  color: #65365a;
  background: #eee3dd; }

.emoji {
  width: 100px;
  height: 100px;
  left: 10rem;
  margin-bottom: 2rem;
  background: #ffda6a;
  border-radius: 50%;
  position: relative; }
  .emoji:after {
    position: absolute;
    bottom: -40px;
    font-size: 18px;
    width: 60px;
    left: calc(50% - 30px);
    color: #8a8a8a; }

.emoji__face,
.emoji__eyebrows,
.emoji__eyes,
.emoji__mouth,
.emoji__tongue,
.emoji__heart,
.emoji__hand,
.emoji__thumb {
  position: absolute; }
  .emoji__face:before, .emoji__face:after,
  .emoji__eyebrows:before,
  .emoji__eyebrows:after,
  .emoji__eyes:before,
  .emoji__eyes:after,
  .emoji__mouth:before,
  .emoji__mouth:after,
  .emoji__tongue:before,
  .emoji__tongue:after,
  .emoji__heart:before,
  .emoji__heart:after,
  .emoji__hand:before,
  .emoji__hand:after,
  .emoji__thumb:before,
  .emoji__thumb:after {
    position: absolute;
    content: ""; }

.emoji__face {
  width: inherit;
  height: inherit; }

.emoji--wow .emoji__face {
  animation: wow-face 3s linear infinite; }

.emoji--wow .emoji__eyebrows {
  left: calc(50% - 3px);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -18px 0 0 0 #000000, -33px 0 0 0 #000000, 18px 0 0 0 #000000, 33px 0 0 0 #000000;
  animation: wow-brow 3s linear infinite; }
  .emoji--wow .emoji__eyebrows:before, .emoji--wow .emoji__eyebrows:after {
    width: 24px;
    height: 20px;
    border: 6px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    top: -3px;
    left: calc(50% - 12px); }
  .emoji--wow .emoji__eyebrows:before {
    margin-left: -25px; }
  .emoji--wow .emoji__eyebrows:after {
    margin-left: 25px; }

.emoji--wow .emoji__eyes {
  width: 16px;
  height: 24px;
  left: calc(50% - 8px);
  top: 35px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000; }

.emoji--wow .emoji__mouth {
  width: 30px;
  height: 45px;
  left: calc(50% - 15px);
  top: 50%;
  border-radius: 50%;
  background: #000000;
  animation: wow-mouth 3s linear infinite; }

@keyframes wow-face {
  15%,
  25% {
    transform: rotate(20deg) translateX(-25px); }
  45%,
  65% {
    transform: rotate(-20deg) translateX(25px); }
  75%,
  100% {
    transform: rotate(0deg) translateX(0); } }

@keyframes wow-brow {
  15%,
  65% {
    top: 25px; }
  75%,
  100%,
  0% {
    top: 15px; } }

@keyframes wow-mouth {
  10%,
  30% {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px); }
  50%,
  70% {
    width: 30px;
    height: 40px;
    left: calc(50% - 15px); }
  75%,
  100% {
    height: 50px; } }

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #65365a; }

main {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.right {
  font-size: 2rem;
  display: flex;
  flex-direction: column; }

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%); }

.number {
  top: 10rem;
  margin: 0 auto;
  position: relative;
  font-size: 6rem;
  width: 15rem;
  text-align: center;
  padding: 3rem 0rem;
  background: #65365a;
  animation: textColor 10s ease infinite; }
  .number:after {
    position: absolute;
    content: "";
    top: 5vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #f9c449, #f04393);
    background-size: 200% 200%;
    animation: animateGlow 5s ease infinite; }

@keyframes animateGlow {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes textColor {
  0% {
    color: #f04393; }
  50% {
    color: #f9c449; }
  100% {
    color: #f04393; } }

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem; }

.again {
  position: absolute;
  top: 2rem;
  left: 2rem; }

.guess {
  background: none;
  border: 4px solid #65365a;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem; }

.message {
  margin-bottom: 1rem;
  height: 3rem;
  display: flex;
  justify-content: space-around; }

.label-score {
  margin-bottom: 2rem; }

.hidden {
  display: none; }

.btn {
  /*encapsulamiento*/ }
  .btn, .btn:link, .btn:visited {
    font-family: "Press Start 2P", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 2rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
    .btn:hover, .btn:link:hover, .btn:visited:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .btn:hover::after, .btn:link:hover::after, .btn:visited:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .btn::after, .btn:link::after, .btn:visited::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s; }
  .btn--white {
    background-color: #65365a;
    color: #b28197; }
    .btn--white::after {
      background-color: #65365a; }
    .btn--white--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards; }
