$color-primary-light: #eee; //
$color-primary-dark: #364053;
//--------------------------------
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
//--------------------------------
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
//--------------------------------
$color-white: #fff;
$color-black: #000;

//FONTSIZE
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: $color-primary-light;
  background: $color-primary-dark;
}
